<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Course Enrollment</title>
<link rel="stylesheet" href="component.css">
</head>
<body>
<h3>COURSE ENROLLMENT</h3>
<form id="courseEnrollmentForm">
    <div>
        <input type="text" placeholder="Course ID" name="Course_ID" required>
        <input type="text" placeholder="Course Name" name="C_name" required>
    </div>
    <div>
        <input type="text" placeholder="Credits" name="credits" required>
    </div>
    <div>
        <input type="submit" value="Enroll">
    </div>
</form>
<script src="adminpage.js"></script>
<script src="courseenrollmentform.js"></script>
</body>
</html>
