<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Examination</title>
    <link rel="stylesheet" href="./component.css">
    <link rel="stylesheet" href="../CSS/home1.css">
</head>
<body>

    <header>
        <div class="hamburger-menu">&#9776;</div>
        <div class="title-tag">Admin Dashboard</div>
        <div class="user-info">
            <div class="profile-pic">
                <img src="../ASSESTS/ICONS/user.png" alt="Profile Picture" style="width: 100%;">
            </div>
        </div>
    </header>

    <div class="side-menu">
        <div class="close-menu">&times;</div>
        <div class="user-info-side">
            <div class="profile-pic-side">
                <img src="../ASSESTS/ICONS/user.png" alt="Profile Picture" style="width: 100%;">
            </div>
            <span class="user-name">Admin</span>
        </div>
        <ul>
            <li><a href="./adminpage.html">
                <div class="menu-icons">
                    <div><img src="../ASSESTS/ICONS/dashboard.png" alt=""></div>
                    <div class="active"><p>Admin Dashboard</p></div>
                </div>
                </a>
            </li>
            <li><a href="../HTML/settings.html">
                <div class="menu-icons">
                    <div><img src="../ASSESTS/ICONS/user.png" alt=""></div>
                    <div><p>Profile</p></div>
                </div>
                </a>
            </li>
            <li><a href="../HTML/signout.html">
                <div class="menu-icons">
                    <div><img src="../ASSESTS/ICONS/sign-out.png" alt=""></div>
                    <div><p>Sign out</p></div>
                </div>
                </a>
            </li>
        </ul>
    </div>

    <div id="form-render"></div>





    <footer>
        <div class="footer-links" style="margin-top: 50px;">
            <a href="./adminpage.html">Admin Dashboard</a>
            <a href="../HTML/settings.html">Profile</a>
            <a href="../HTML/signout.html">Sign Out</a>
            <!-- Add additional relevant links here -->
        </div>
        <div class="footer-info">
            <p>&copy; 2024 ExamPro. All rights reserved.</p>
            <!-- Add any additional relevant information here -->
        </div>
    </footer>

</body>

<script src="createexam.js" type="module"></script>
<script src="adminpage.js"></script>
</html>
