<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Enrollment Form</title>
    <link rel="stylesheet" href="./component.css">
</head>
<body>
    <h3>STUDENT ENROLLMENT</h3>
    <div id="form-render"></div>
    <!--<form id="student-enrollment-form">
        <ul>
            <li>
                <div>
                    <input type="text" placeholder="Student ID" name="S_ID" required>
                    <input type="text" placeholder="Semester" name="Semester" required>
                </div>
            </li>
            
            <li>
                <div>
                    <input type="submit" value="Enroll">
                </div>
            </li>
        </ul>
    </form>  -->

    <script src="adminpage.js"></script>
    <script src="studentenrollform.js"></script>
</body>
</html>